<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omega Project</title>
  </head>
  <body>
    <h1>Hello {{request.session.user}}</h1>
    <br>
<!-- logout button -->
    <a href="/">Logout</a>
    <br>
    <table>
      <tr>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Plan</th>
      </tr>
      <tr>
        <td>info</td>
        <td>info</td>
        <td>info</td>
        <td>info</td>
        <td>info</td>
      </tr>
    </table>

  </body>
</html>
